.eclipse {
  position: relative;
  background-image: url(/svg/action/Ellipse\ 19.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 76px;
  border: none;
  background-color: #F8d26d;
  transition: background-image 0.2s;
  cursor: pointer;
}
.eclipse .action {
  position: absolute;
  right: 54%;
  bottom: 56%;
  transform: translate(50%, 50%);
}
.eclipse:hover {
  background-image: url(/svg/action/Ellipse\ -hover.svg);
}

.restart {
  background-image: url(/svg/restart/restart-default.svg);
  width: 300px;
  height: 75px;
  cursor: pointer;
  background-color: #F8d26d;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  bottom: 30px;
  display: none;
}
.restart:hover {
  background-image: url(/svg/restart/restart-hover.svg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  color: #1c1c1c;
  padding: 16px;
}

.health {
  padding: 16px;
}

.gameBoy {
  position: relative;
  min-width: 420px;
  max-width: 420px;
  background: #F8d26d;
  border-radius: 10px;
  margin: 0 auto;
  height: 657px;
  display: flex;
  justify-content: center;
}
.gameBoy .main-container {
  margin-top: 54px;
  height: 477px;
  width: 100%;
  margin-left: 6px;
  margin-right: 6px;
  border: 10px solid #DFA46D;
}
.gameBoy .main-container .inside__container {
  height: 100%;
  border: 10px solid #e7f6fd;
  background-color: #cdedfc;
  display: flex;
  justify-content: center;
}
.gameBoy .main-container .rectangle {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.gameBoy .main-container .rectangle__parameters {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 60px;
  justify-content: space-between;
}
.gameBoy .main-container .rectangle__parameters .parameter {
  line-height: 40px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.gameBoy .main-container .rectangle__parameters .parameter span {
  width: 25px;
  height: 60px;
  font-family: VT323;
  font-size: 60px;
  height: 40px;
  color: #724D50;
}
.gameBoy .main-container .rectangle__tamago {
  width: 100%;
  height: 100%;
  border: 7px solid #9fdcf9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.gameBoy .main-container .rectangle__tamago--svg {
  width: 50%;
  height: 50%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}
.gameBoy .main-container .rectangle__tamago--svg::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  height: 8px;
  width: 162px;
  background-color: #ffffff;
}
.gameBoy .main-container .rectangle__status {
  width: 100%;
  height: 58px;
  background-color: #e7f6fd;
}
.gameBoy .main-container .rectangle__status p {
  font-family: VT323;
  text-align: center;
  font-size: 56px;
  font-weight: 400;
  color: #724D50;
}
.gameBoy .action-btns {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.happy .rectangle__tamago .rectangle__tamago--svg {
  background-image: url(/svg/tamago/State=Standing.svg);
}

.sleepy .rectangle__tamago .rectangle__tamago--svg {
  background-image: url(/svg/tamago/State=Sleepy.svg);
}

.hungry .rectangle__tamago .rectangle__tamago--svg {
  background-image: url(/svg/tamago/State=Hungry.svg);
}

.bored .rectangle__tamago .rectangle__tamago--svg {
  background-image: url(/svg/tamago/State=Bored.svg);
}

.dead .rectangle__tamago .rectangle__tamago--svg {
  background-image: url(/svg/tamago/State=Dead.svg);
}

.eating .rectangle__tamago .rectangle__tamago--svg {
  background-image: url(/svg/tamago/State=Eating\ 1.svg);
  animation: tamagoEatingAnim 1s ease-in-out infinite;
}

@keyframes tamagoEatingAnim {
  from {
    background-image: url(/svg/tamago/State=Eating\ 1.svg);
  }
  to {
    background-image: url(/svg/tamago/State=Eating\ 2.svg);
  }
}
.sleeping .rectangle__tamago .rectangle__tamago--svg {
  background-image: url(/svg/tamago/State=Sleeping\ 1.svg);
  animation: tamagoSleepingAnim 1s ease-in-out infinite;
}

@keyframes tamagoSleepingAnim {
  from {
    background-image: url(/svg/tamago/State=Sleeping\ 1.svg);
  }
  to {
    background-image: url(/svg/tamago/State=Sleeping\ 2.svg);
  }
}
.playing .rectangle__tamago .rectangle__tamago--svg {
  background-image: url(/svg/tamago/State=Playing\ 1.svg);
  animation: tamagoPlayingAnim 1.5s ease-out infinite;
}

@keyframes tamagoPlayingAnim {
  from {
    background-image: url(/svg/tamago/State=Playing\ 1.svg);
  }
  to {
    background-image: url(/svg/tamago/State=Playing\ 2.svg);
  }
}/*# sourceMappingURL=styles.css.map */