.happy {
	.rectangle__tamago {
		.rectangle__tamago--svg {
			background-image: url(/svg/tamago/State=Standing.svg);
		}
	}
}

.sleepy {
	.rectangle__tamago {
		.rectangle__tamago--svg {
			background-image: url(/svg/tamago/State=Sleepy.svg);
		}
	}
}
.hungry {
	.rectangle__tamago {
		.rectangle__tamago--svg {
			background-image: url(/svg/tamago/State=Hungry.svg);
		}
	}
}
.sad {
	.rectangle__tamago {
		.rectangle__tamago--svg {
			
			background-image: url(/svg/tamago/State=Bored.svg);
		}
	}
}
.dead {
	.rectangle__tamago {
		.rectangle__tamago--svg {
			background-image: url(/svg/tamago/State=Dead.svg);
		}
	}
}

.eating {
	.rectangle__tamago {
		.rectangle__tamago--svg {
			background-image: url(/svg/tamago/State=Eating\ 1.svg);
			animation: tamagoEatingAnim 1s ease-in-out infinite;
		}
	}
}

@keyframes tamagoEatingAnim {
	from {
		background-image: url(/svg/tamago/State=Eating\ 1.svg);
	}
	to {
		background-image: url(/svg/tamago/State=Eating\ 2.svg);
	}
}
.sleeping {
	.rectangle__tamago {
		.rectangle__tamago--svg {
			background-image: url(/svg/tamago/State=Sleeping\ 1.svg);
			animation: tamagoSleepingAnim 1s ease-in-out infinite;
		}
	}
}

@keyframes tamagoSleepingAnim {
	from {
		background-image: url(/svg/tamago/State=Sleeping\ 1.svg);
	}
	to {
		background-image: url(/svg/tamago/State=Sleeping\ 2.svg);
	}
}
.playing {
	.rectangle__tamago {
		.rectangle__tamago--svg {
			background-image: url(/svg/tamago/State=Playing\ 1.svg);
			animation: tamagoPlayingAnim 1.5s ease-out infinite;
		}
	}
}

@keyframes tamagoPlayingAnim {
	from {
		background-image: url(/svg/tamago/State=Playing\ 1.svg);
	}
	to {
		background-image: url(/svg/tamago/State=Playing\ 2.svg);
	}
}
